<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %>
</head>
<header>
    <%- include("../partials/header") %>
</header>
<body>
    Soy about
</body>
<footer>
    <%- include("../partials/footer") %>
</footer>
</html>