<form>
    <h5 class="font-italic">Nombre:</h5>
    <label class="font-italic" for="name"></label>
    <input type="text" name="name" id="name"/>
    <h5 class="font-italic">Precio:</h5>
    <input  type="text" name="price" id="price"/>
    <h5 class="font-italic">Foto URL:</h5>
    <input type="text" name="thumbnail" id="thumbnail"/>
    <br>
    <button class="sendB bg-success text-white" id="send">Enviar</button>
</form>