<h1>Lista 1</h1>
<ul>
    <li>
        <p>Usuario1</p>
    </li>
    <li>
        <p>Usuario 2</p>
    </li>
    <ul>
    {{#each usuarios}}
    <li>Nombre: {{this.nombre}}, Edad : {{this.edad}}</li>
    {{/each}}
</ul>
</ul>