<h1>Lista 2</h1>
<ul>
    <ul>
    {{#each usuarios}}
    <li>Nombre: {{this.nombre}}, Edad : {{this.edad}}</li>
    {{/each}}
</ul>
    <li>
        <p>producto 1</p>
    </li>
    <li>
        <p>producto 2</p>
    </li>
</ul>