<form action="/productos" method="POST">
    <h5 class="font-italic">Nombre:</h5>
    <label class="font-italic" for="nombre"></label>
    <input type="text" name="nombre"/>
    <h5 class="font-italic">Precio:</h5>
    <input  type="text" name="price"/>
    <h5 class="font-italic">Foto URL:</h5>
    <input type="text" name="thumbnail"/>
    <br>
    <button class="sendB bg-success text-white" type="submit">Enviar</button>
</form>