<table class="table">
    <thead>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{this.nombre}}</th>
            <th>{{this.price}}</th>
            <th><img class="imageview" src="{{this.thumbnail}}"/></th>
        </tr>
    </tbody>
</table>
